body {
counter-reset: item;
}
h2:before {
counter-increment: item;
content: counter(item) ". ";
}
ol {
list-style-type: none;
counter-reset: item;
}
li:before {
counter-increment: item;
content: counters(item, ".") ". ";
}

.custom {
    list-style-type: decimal-leading-zero;
}

p {
    color: red;
}